# **Theory Questions:**

## 1. What are data structures, and why are they important?

- A data structure is a specialized way of organizing, storing, and managing data to enable efficient access and modification. It defines the relationship between data and the operations that can be performed on them.
  - **Efficient Data Management**: Organizes and processes data effectively for quick retrieval and modification.
  - **Optimized Performance**: Helps in faster data access and operations, reducing time complexity.
  - **Better Use of Memory**: Reduces memory wastage and enhances space utilization.
  - **Foundation for Algorithms**: Many algorithms depend on specific data structures for efficiency.
  - **Scalability**: Helps handle large datasets in applications like databases, search engines, and AI systems.
  - **Real-World Applications**: Used in operating systems, networking, web development, AI, and more.

## 2. Explain the difference between mutable and immutable data types with examples?

  - In Python, **mutable** and **immutable** data types refer to whether an object can be modified after creation.
  - **Mutable Data Types:**
    - It can be changed after creation.
    - Elements can be altered, added, or removed.
    - Changes occur in the same memory location.
    - Ex:- list, dict, set, bytearray
  - **Immutable Data Type:**
    - It cannot be changed after creation.
    - Any modification creates a new object.
    - A new memory location is created for modifications.
    - Ex:- int, float, string (str), tuple, frozenset, bytes

In [ ]:
# Mutable Data Type
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print(my_list)

my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # Adds a new key-value pair
print(my_dict)

my_set = {1, 2, 3}
my_set.add(4)  # Modifies the set
print(my_set)


# Immutable Data Type
my_str1 = "Hello"
new_str = "M" + my_str1[1:]  # Creates a new string
print(my_str1, id(my_str1))
print(new_str, id(new_str))



my_tuple1 = (1, 2, 3)
my_tuple1[0] = 5

a = 10
a = a + 5  # Creates a new integer object
print(a)

my_str = "Hello"
my_str[0] = 'M'

## 3. What are the main differences between lists and tuples in Python?

Differences between lists & tuples are as below:
- **List: -**
  - It is mutable.
  - Defined using []
  - Takes more memory.
  - Slower due to dynamic nature.
  - Used when needs modification in data.
- **Tuple: -**
  - It is immutable.
  - Defined using ()
  - Takes less memory
  - Faster due to immutability
  - Used when data should remain constant

In [ ]:
# Lists
my_list = [1, 2, 3]
my_list.append(4)  # Adding an element
print(my_list)

# Tuples
my_tuple = (1, 2, 3)
my_tuple[0] = 5

## 4. Describe how dictionaries store data?

- Dictionary is an mutable data structure that stores data in **key-value pair**.
  - **Keys**- Unique and immutable
  - **Values**- Can be any data type

In [ ]:
my_dict = {'name': 'Ravi', 'age': 28, 'city': 'Delhi'}
print(my_dict['name'])

Ravi

## 5. Why might you use a set instead of a list in Python?

- Set ia an u ordered, mutable collection of unique elements. Set does not allows duplicate values and uses higher memoly while in lists duplicates are allowed  and it is ordered so using less memory.

In [ ]:
# Sets
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)

# Lists
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_values = set(my_list)

True

## 6. What is a string in Python, and how is it different from a list?

- String is a sequence of characters enclosed in single('), double(") or triple (''' / """) quotes. It is immutable means it can not be changed once created.

In [ ]:
str1 = 'Hello World'
str2 = "Hello World"
str3 = '''Hello World'''
str4 = """Hello World"""
print(str1)
print(str2)
print(str3)
print(str4)

Hello World
Hello World
Hello World
Hello World

## 7. How do tuples ensure data integrity in Python?

- A tuple is an immutable sequence. This immutability ensure data bintegrity by preventing accidental changes. Tuples uses less memory and avoide unintended modification.

In [ ]:
a = (50, 24.5, 'Banana', True)
print(a)

a[0] = 100
print(a)

## 8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores key-value pairs using a hashing function to map keys to memory locations. This enables fast lookups, insertions, and deletions.
- In Python, dictionaries (dict) are implemented using hash tables. Each key is hashed to produce an index, which determines where the corresponding value is stored in memory.

In [ ]:
my_dict = {"name": "Ravi", "age": 28, "city": "Delhi"}

print(my_dict["age"])

28

## 9. Can lists contain different data types in Python?

- Yes, lists are heterogeneous, it means they can store different data types in the same list.

In [ ]:
my_list = [28, "Ravi", 3.14, True, [1, 2, 3]]
print(type(my_list))

a = my_list[0]
print(type(a))

b = my_list[1]
print(type(b))

c = my_list[4]
print(type(c))

<class 'list'>
<class 'int'>
<class 'str'>
<class 'list'>

## 10. Explain why strings are immutable in Python?

- Strings are immutable, it means once created, they cannot be modified. Any operation that appears to change a string actually creates a new string.
- Reasons for immutability
  - Strings are stored in a shared memory space, that reducing duplication.
  - Prevents accidental modifications. Like: Passward, IP address etc.
  - Since strings don’t change, they can be used as keys in dictionaries and set elements.
  - Multiple threads can safely use the same string without conflicts.

In [ ]:
text = "Hello"
text[0] = "M" # can't be changed

new_text = "M" + text[1:]
print(new_text)

print(id(text))
print(id(new_text))

Mello
134027683530800
134026964555824

## 11. What advantages do dictionaries offer over lists for certain tasks?

- **Faster Lookups (O(1))**: Uses a hash table for quick key-based access, while lists require O(n) searches.
- **Key-Value Pair Storage**: Stores structured data (e.g., {"name": "Ravi", "age": 28}) instead of just values.
- **More Readable Acces**: Use meaningful keys instead of numeric indices.

In [ ]:
student = {"name": "Ravi", "age": 28}
print(student["name"])

student_list = ["Ravi", 28]
print(student_list[0])

Ravi
Ravi

## 12. Describe a scenario where using a tuple would be preferable over a list?

- While working with fixed data like database records, coordinates, or configuration settings, a tuple is preferred to ensure data integrity and prevent accidental modifications.

In [ ]:
employee_record = (101, "Ravi", "Data Analyst", "Delhi")
location_data = {(28.6139, 77.2090): "New Delhi"}
screen_resolution = (1920, 1080)

## 13. How do sets handle duplicate values in Python?

- A set in Python does not allow duplicate values. If duplicate elements are added, only one unique copy is stored.

In [ ]:
numbers = {1, 2, 2, 3, 4, 4, 5}
print(numbers)

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_values = set(my_list)  # Converts list to a set (removes duplicates)
print(unique_values)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

## 14. How does the “in” keyword work differently for lists and dictionaries?

- **In** keyword is used to check for membership, but it works differently for lists and dictionaries in Python.

In [ ]:
my_list = [10, 20, 30, 40]
print(20 in my_list)

my_dict = {"name": "Ravi", "age": 28, "city": "Delhi"}
print("age" in my_dict)

True
True

## 15. Can you modify the elements of a tuple? Explain why or why not?

- No, tuples are immutable in Python, it means their elements cannot be modified, added, or removed after creation.

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10

my_tuple = (1, [2, 3], 4)
my_tuple[1][0] = 99
print(my_tuple)

## 16. What is a nested dictionary, and give an example of its use case?

- Nested dictionary is a type of dictionary that contains another dictionary as a value.
- It helps in storing hierarchical or structured data efficiently.

In [ ]:
students = {
    "101": {"name": "Ravi", "age": 28, "course": "Data Science"},
    "102": {"name": "Amit", "age": 25, "course": "AI & ML"}
}

# Accessing nested data
print(students["101"]["name"])
print(students["102"]["course"])

Ravi
AI & ML

## 17. Describe the time complexity of accessing elements in a dictionary?

- Python dictionaries use hash tables, allowing fast lookups.
- Retrieving a value by key takes constant time, regardless of the dictionary’s size.

In [ ]:
my_dict = {"name": "Ravi", "age": 28}
print(my_dict["age"])

28

## 18. In what situations are lists preferred over dictionaries?

- Lists maintain insertion order, useful for ordered collections.
- Lists are simpler when storing just values, without needing keys.
- Lists allow easy iteration and operations like sorting, slicing, etc.
- Lists use less memory than dictionaries, which require extra space for keys and hashing.
- Lists support sorting, reversing, indexing, and slicing, which dictionaries do not.

In [ ]:
my_list = [10, 20, 30]
print(my_list[1])

students = ["Ravi", "Amit", "Neha"]
for student in students:
    print(student)

20
Ravi
Amit
Neha

## 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Before Python 3.7, dictionaries were unordered, meaning elements were stored in an arbitrary order based on hashing, not insertion order.
- However, since Python 3.7, dictionaries maintain insertion order, though they are still technically implemented as hash tables.
- It affect data retrival:-
  - Dictionaries retrieve values by key, not by position.
  - Unlike lists, you cannot access dictionary elements by position.
  - Dictionaries now iterate in insertion order (but this is not guaranteed in older versions).

In [ ]:
my_dict = {"name": "Ravi", "age": 28}
print(my_dict["age"])

my_dict = {"name": "Ravi", "age": 28}
print(my_dict[0])

my_dict = {"a": 1, "b": 2, "c": 3}
for key in my_dict:
    print(key)

## 20. Explain the difference between a list and a dictionary in terms of data retrieval.?

1. **Retrieval Method:**
  - List: Uses index-based retrieval (position matters).
  - Dictionary: Uses key-based retrieval (position does not matter).

2. **Time Complexity:**
  - List: Searching (in or index()) takes O(n) (slower).
  - Dictionary: Key lookups are O(1) (faster due to hashing).

3. **Flexibility:**
  - Lists: Store values without explicit labels.
  - Dictionaries: Store key-value pairs, making data more structured.

4. **Order Preservantion:**
  - Lists: Maintain strict order (always).
  - Dictionaries: Preserve insertion order only in Python 3.7+.

In [34]:
students = ["Ravi", "Amit", "Neha"]
print(students[1])
print("Neha" in students)

student_ages = {"Ravi": 28, "Amit": 25, "Neha": 30}
print(student_ages["Neha"])

Amit
True
30

# Theory Questions

1. Write a code to create a string with your name and print it?

In [35]:
my_name = "Ravi Kumar"
print(my_name)

Ravi Kumar

2. Write a code to find the length of the string "Hello World"?

In [37]:
str_word = "Hello World"
print(len(str_word))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [38]:
course = "Python Programming"
print(course[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [39]:
word = "hello"
upper_word = word.upper()
print(upper_word)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [40]:
text = "I like apple"
newtext = text.replace('apple', 'orange')
print(newtext)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [41]:
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [42]:
list2 = [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [43]:
list3 = [1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [44]:
list4 = ['a', 'b', 'c', 'd']
print(list4[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [49]:
lst = [1, 2, 3, 4]
lst.reverse()
print(lst)

lst2 = [1, 2, 3, 4]
reverse_lst2 = lst2[::-1]
print(reverse_lst2)

[4, 3, 2, 1]
[4, 3, 2, 1]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [51]:
tupl = (100, 200, 300)
print(tupl)
print(type(tupl))

(100, 200, 300)
<class 'tuple'>

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [52]:
tupl2 = ('red', 'green', 'blue', 'yellow')
second_element = tupl2[-2]
print(second_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [53]:
nos = (10, 20, 5, 15)
min_no = min(nos)
print(min_no)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [54]:
word = ('dog', 'cat', 'rabbit')
index = word.index('cat')
print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [55]:
basket = ('apple', 'banana', 'orange')
print('kiwi' in basket)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [56]:
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [57]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [58]:
set4 = {1, 2, 3, 4}
set4.remove(4)
print(set4)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [59]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_a.union(set_b)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [61]:
setno1 = {1, 2, 3}
setno2 = {2, 3, 4}
intersection_set = setno1.intersection(setno2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [62]:
dict1 = {"name": "Ravi", "age": 28, "city": "Delhi"}
print(dict1)

{'name': 'Ravi', 'age': 28, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [63]:

dict2 = {'name': 'John', 'age': 25}
dict2['country'] = 'USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [64]:
dict3 = {'name': 'Alice', 'age': 30}
print(dict3['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [65]:
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4['age']
print(dict4)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [66]:
dict5 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict5)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [68]:
my_lst = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}

print(my_lst)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [71]:
lst_no = [10, 5, 20, 15, 30]
#lst_no = input("Enter your numbers b/w 1-100 separated by spaces: ").split()
lst_no.sort()
print(lst_no)

[5, 10, 15, 20, 30]

28. Write a code to create a list with strings and print the element at the third index.

In [73]:
list_value = ['Yudhisthir', 'Arjun', 'Bhim', 'Nakul', 'Sahdev']
print(list_value[3])

Nakul

29. Write a code to combine two dictionaries into one and print the result.

In [75]:
dict_a = {'Ravi': 28, 'Shivam': 24}
dict_b = {'Arti': 27, 'Amit': 31}
combined_dict = {**dict_a, **dict_b}
print(combined_dict)

{'Ravi': 28, 'Shivam': 24, 'Arti': 27, 'Amit': 31}

30. Write a code to convert a list of strings into a set

In [78]:
string_list = ["apple", "banana", "mango", "banana", "apple"]
string_set = set(string_list)
print(string_set)

{'mango', 'banana', 'apple'}